html {
background-color: white;
overflow-y: scroll;
height: 100%;
}

body, html{
    background-image:url('../images/white_pattern.jpg');
    background-repeat: repeat;
    height: 100%;
    min-width: 800px;
}

.c_bright_orange { background-color: #D89B4C;}
.c_green {background-color: #385859; }
.c_bright_teal {background-color: #6BAAB1; }
.c_rose {background-color: #9D4966; }
.c_yellow {background-color: #E7C950; }
.c_brown { background-color: #B78636;}

a img {
    border: 0px;
}

#logo {
    width: 80%;
    padding-top: 15px;
    margin: 0em 5em;
}
.rainbow_bar{
    height: 9px;
    background-image:url('../images/rainbow.png');
    background-repeat: repeat;
    z-index: 12;
    width:100%;
}

.new_background{
    height: 1000px;
    background-image:url('../images/white_pattern.jpg');
    background-repeat: repeat;
    z-index: 12;
    width: 105%;
}

.navbar {
    height: 80px;
    background-image:url('../images/black_pattern.png');
    background-repeat: repeat;
    z-index: 10;
}

.navigation {
    top: 200px;
    text-align: center;
    width: 80%;
    font-family:"Tahoma", Geneva, sans-serif;
    margin: 0em 5em;
    height: 34px;
}

.navigation a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: gray;
    text-decoration: none;
}

.dropdown {
    display:inline-block;
}

.menu {
    position:absolute;
    visibility:hidden;
    z-index: 100;
    top: 33px;
    margin-left: 22px;
    background-color: #161614;
}

.menu_item{
    width:100px;
    line-height: 25px;
    border-bottom:solid;
    border-width:2px;
    border-color:#383838 ;
    float:left;
    text-align: left;
    padding-left: 10px;
    font-size: 14px !important;
}

.shadow {
    -moz-box-shadow:    3px 3px 3px 1px #ccc;
    -webkit-box-shadow: 3px 3px 3px 1px #ccc;
    box-shadow:         3px 3px 3px 1px #ccc;
}

#content {
    text-align: center;
    width: 80%;
    background-color: white;
    margin: 1em 5em;
    padding:5px;
    border: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #E8E8E8;

}

.box {
    width:80%;
    margin:auto;
    text-align:left;
    padding:15px;
    background-color:#E0E0E0;
}

label.error {
    width: 250px;
    display: inline;
    color: red;
}

.footer {
    margin: 1em 5em;
    height: 20px;
}

#home_words {
    position:relative;
    width: 80%;
    color: #9DA3AB;
    font-family:"Tahoma", Geneva, sans-serif;
    text-align: center;
    margin: 0em 5em;
    font-size: 12px;
}

#home_name {
    position:relative;
    background-color: transparent;
    color: white;
    width: 80%;
    font-family:"Tahoma", Geneva, sans-serif;
    text-align: center;
    margin: 0em 5em;
    font-size: 100px;
    font-weight: bolder;
}

.thumbnails > li {
    min-width: 90% !important;
}

div.panel1,p.flip1,div.panel2,p.flip2  {
    font-family:"Tahoma", Geneva, sans-serif;
    margin:0px;
    padding:5px;
    text-align:center;
    font-size:40px;
    color: #3F73BE;
    border:none;
}

div.panel1,div.panel2 {
    height:60px;
    display:none;
}