html {
background-color: white;
overflow-y: scroll
}

.c_red {background-color: #D24247; }
.c_plumb {background-color: #7C4A87; }
.c_pink {background-color: #D24876; }
.c_orange { background-color: #E5A341;}
.c_blue {background-color: #3F73BE; }
.c_teal {background-color: #6EAC9D; }
.c_sky {background-color: #70B7E0; }

a img {
    border: 0px;
}

#logo {
    width: 80%;
    padding-top: 15px;
    margin: 0em 5em;
}

.navigation {
    top: 200px;
    text-align: center;
    width: 80%;
    font-family:"Tahoma", Geneva, sans-serif;
    margin: 0em 5em;
    height: 34px;
}

.navigation a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: gray;
}

.nav2 {
    text-align: center;
    width: 80%;
    font-family:"Tahoma", Geneva, sans-serif;
    font-weight: normal;
    margin: 0em 5em;
    height: 12px;
}

.nav2 a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.nav2 a:hover {
    color: gray;

}


#content {
    text-align: center;
    width: 80%;
    background-color: white;
    margin: 1em 5em;
    padding:5px;
    border: thin;
    border-style: solid;
    border-radius: 5px;
    border-color: #E8E8E8;

}

.footer {
    margin: 1em 5em;
    height: 20px;
}


#home_words {
    position:relative;
    width: 80%;
    color: #9DA3AB;
    font-family:"Tahoma", Geneva, sans-serif;
    text-align: center;
    margin: 0em 5em;
    font-size: 12px;
}

#home_name {
    position:relative;
    background-color: transparent;
    color: white;
    width: 80%;
    font-family:"Tahoma", Geneva, sans-serif;
    text-align: center;
    margin: 0em 5em;
    font-size: 100px;
    font-weight: bolder;
}

